extends ../layout.jade
block content
    div(class="m-0 row justify-content-center")
        div(class="col-md-6 remove-float top-space")
            h1 Show all devices in gateway: #{devices[0].gateway.name}
            a(href="/app/gateways" class="d-flex justify-content-end") Come Back
            table( class="table dt-table-hover" style="width:105%")
                thead
                    tr
                        th Id
                        th Vendor
                        th Date created
                        th Status
                        th(class="no-content") Actions
                tbody
                    for device in devices
                        tr(class="tr")
                            td #{device.uid}
                            td #{device.vendor}
                            td #{device.date_created.getFullYear()}-#{device.date_created.getMonth()+1}-#{device.date_created.getDate()}
                            td #{device.status?'On':'Offline'}                      
                            td
                                a(href="/app/devices/#{device._id}" class="btn btn-info") Details 
                                a(href="/app/devices/#{device._id}/edit" class="btn btn-success") Edit 
                                form(action="/app/devices/#{device._id}?_method=DELETE", method="post" class="link")
                                    button(class="btn btn-danger" type="submit") Remove
                tfoot
                    th Id
                    th Vendor
                    th Date created
                    th Status
                    th(class="no-content") Actions
                    